<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="static/login.css"/>
    <script src="static/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  </head>
  <body>
    <form id="login" onsubmit="return login()">
      <h2>Log ind her</h2>
      <input type="email" placeholder="Email/id" name="email" required value="user1@eaaa.dk"/>
      <input type="password" placeholder="Password" name="password" required value="12345"/>
      <input type="submit" value="log in"/>
    </form>
  </body>
</html>
